= form_tag("/search", method: "get",class: 'form-inline search-form') do
  .input-group.col-sm-12
    = text_field_tag :username,nil, placeholder:"Search Username", class: 'form-control'
    .input-group-btn
      = button_tag(type: 'submit', id: "search-button", class: "btn btn-primary") do
        %span{class: 'glyphicon glyphicon-search'}