.dropdown.notification-dropdown{data: {behaviour: 'message-notifications'}}
  %button.btn.btn-default.navbar__buttons.dropdown-toggle{ type: 'button', id: 'dropdownMenu1', data: { toggle: 'dropdown' }, 'aria-haspopup'=> true, 'aria-expanded'=> true }
    %span{class: 'message-notifications-count',data: {behaviour: 'message-notifications-count'}}
    %span.glyphicon.glyphicon-envelope.colorb
  %ul.dropdown-menu{ 'aria-labelledby'=> 'dropdownMenu1', data: {behaviour: 'message-notifications-item'}}