- if current_user_is_joined(user.id, group.id)
  = link_to 'Leave This Group',unjoin_group_path(group,user), remote: true,class: 'btn btn-danger flat_button',id: "join_group_#{group.id}",method: :post
- else
  = link_to 'Join This Group',join_group_path(group,user), remote: true,class: 'btn btn-success flat_button',id: "join_group_#{group.id}",method: :post