.post-wrapper
  .post
    .padding20
      %h4 Editing Group
      = render 'form', group: @group
      = link_to 'Show', @group,class: 'btn btn-success'
      = link_to 'Back', groups_path,class: 'btn btn-primary'
