/*
 *= require_tree .
 *= require_self
 */

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html {
  height: 100%;
}
body {
  background: #fafafa image-url('stripe-gray-bg.png');
  font-family: Montserrat, sans-serif;
  font-size:12px;
}
.alert {
  margin-bottom: 0px;
}
.clear{
  clear:both
}
.post__avatar,.comment__avatar{
  width:50px;
  height:50px;
  max-width:none;
  float:left;
  margin-right:10px;
}
.comment__avatar{
  width:40px;
  height:40px;
}
.flat__buttons {
  padding: 5px 15px !important;
  margin-right: 5px !important;
  border-radius: 20px;
}
.notification-dropdown{
 margin-right: 5px;
}
.h-100{
  height:100%
}
.mauto{
  margin:0 auto
}
.mt20{
  margin-top:20px
}
.mb20{
  margin-bottom:20px;
}
.bgwhite{
  background:white;
}
.bglgray{
  background:#fafafa;
}
.sb1{
  border:1px solid #ccc;
}
.mwidth960{
  max-width:960px;
}
.w250{
  width:250px
}
.padding20{
  padding:20px
}
.dib{
  display:inline-block;
}
.colorb{
  color:blue;
}
.colorr{
  color:red;
}
.personal_message_attachment{
  overflow: hidden;
  position: absolute;
  bottom: 11px;
  right: 6px;
}

.personal_message_attachment [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.personal_message_attachment span{
  font-size:20px;
}

.like-button a{
  font-size:20px;
  color:green;
}

.navigation_box{
  font-size:16px
}
.notification-dropdown >  button{
  border:none;
  margin-top: 10px;
}
.navbar-header .navigation_box{
  float: left;
  margin-top: 12px;
  font-size: 18px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.navigation_box,.navigation_box:hover{
  color:#525252;
  text-decoration:none
}
.search-form{
  float:left;
  margin:8px 0 0 40px;
}
.search-form #username{
  width:340px
}
#root{
  min-height: 91.4%;
  padding-top:51px;
}
/*
|--------------------------------------------------------------------------
|   Navbar
|--------------------------------------------------------------------------
*/
.navbar {
  border: 0;
  margin-bottom: 0;
  font-size: 12px;
  background: rgba(26, 188, 174, 0.58);
  border-bottom: 1px solid #1ab39e;
}
.navbar-brand{
  padding: 12px 16px;
}
.navbar-brand img{
  max-width:26px
}
.navbar .navbar-brand {
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: black !important;
}
.notification-dropdown button{
  border-radius: 15px;
}
.notifications-count,.message-notifications-count{
  color:red
}
.navbar-default .navbar-nav>li>a{
  background: white;
  padding: 6px;
  margin: 10px;
  border-radius: 15px;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
/*
|--------------------------------------------------------------------------
|   ChatBox
|--------------------------------------------------------------------------
*/
.chat_box {
  border: 1px solid #eee;
  margin-top:40px;
  font-size:16px;
  max-height:800px;
  overflow-y:scroll;
}

.chat_box li {
  list-style: none;
  border-radius:0 !important;
  padding:0 !important;
}
.chat_box a,.chat_box_heading{
  width:100%;
  padding:20px;
  display: block;
  transition:all 1s;
}
.chat_box_heading{
  text-align:center;
  background:#1ABC9C;
  color:white;
  padding:3px 5px;
}
.chat_box a:hover{
  background:#EAF1EF;
  color:#337ab7;
  text-decoration:none
}
.chat__avatar{
  width:32px;
  height:32px;
  float:left;
  margin-right:10px;
  max-width:none;
}
.user_online_block{
  float:right
}
.online_status.online{
  background: rgb(66, 183, 42); border-radius: 50%; display: inline-block; height: 6px; margin-left: 4px; width: 6px;
}
/*
|--------------------------------------------------------------------------
|   Copyright
|--------------------------------------------------------------------------
*/
.copyright-part {
  background-color: #2f2f2f;
  color: #fff;
  padding:15px 10px;
}
/*
|--------------------------------------------------------------------------
|   POST CUSTOMISATIONS
|--------------------------------------------------------------------------
*/
.post-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  width: 100%;
  max-width:642px;
}
.post__image{
  margin:0 auto
}

.post {
  background-color: #fff;
  border:1px solid #bcbcbc;
}
.post-head{
  padding:10px 15px;
}
.post-user-name{
  font-size:12px;
}
.post-user-name a,.comment-user-name a{
  font-size:16px;
}
.time-ago{
  font-size:10px;
}
.content,.comment{
  margin-top:20px;
}
.delete-comment-icon {
  float: right;
  color: #515151;
}
.post-bottom {
  padding:10px 20px;
  background:#eee;
  display:none;
}
.view_post_bottom{
  padding:5px 20px;
}
.comment_counter{
  cursor: pointer;
  color:blue;
}
/*
|--------------------------------------------------------------------------
|   Univeristy
|--------------------------------------------------------------------------
*/
.university-index-wrapper{
  background:#fafafa;
  padding:10px;
  margin: 40px auto 20px;
  width: 100%;
  max-width:700px;
  border:1px solid #aaa;
}
.university-show-wrapper{
  max-width:1100px;
  margin:0 auto;
}
.university_timeline_image {
  width:100%
}
.university-index-box{
  width:200px;
  display:inline-block;
  margin-right:20px
}
.university-index-box:last{
  margin-right:0
}
.university-card-thumbnail img{
  width:200px;
  height:200px;
}
.university-card{
  position:relative;
  font-size:150%;
  text-align:center
}
.university-index-box a,.university-index-box a:hover{
  color:black;
  cursor:pointer;
  text-decoration:none;
}
/*
|--------------------------------------------------------------------------
|   Attachment
|--------------------------------------------------------------------------
*/
.attachment-files,.attachment-info{
  margin-left:20px;
}
/*
|--------------------------------------------------------------------------
|   Comment Area
|--------------------------------------------------------------------------
*/
.comment-form textarea:focus,.comment-form  input:focus,.chatbox textarea:focus{
   outline : none;
}


.comment_content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: #4B4F54;
}

.comment-like-form {
  padding-top: 24px;
  margin-top: 13px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 68px;
  align-items: center;
  border-top: 1px solid #EEEFEF;
  flex-direction: row;
  justify-content: center;
}
/*
|--------------------------------------------------------------------------
|   Wrapper and styling for the new, edit & devise views 
|--------------------------------------------------------------------------
*/
.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}
.registration-bg,.login-bg {
  padding-top: 2em;
   background-image: image-url('chaton_bg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:83.7%;
}
.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: 1px solid #ccc;
}

#image-preview {
  margin: 0 auto;
  padding:20px
}

#post_image {
  padding: 1em;
  margin: 0px auto;
}
#paginator {
  color: #4090DB;
  height: 120px;
  width: 120px;
  margin: 60px auto 40px;
  position: relative;
  display: table;
  border: 2px solid #4090DB;
  border-radius: 50%;
  :hover {
    border: 1px solid #2D6DA8;
    border-radius: 50%;
  }
}

#load_more {
  display: table-cell;
  font-size: 12px;
  padding: 0px 9px;
  vertical-align: middle;
  text-decoration: none;
  a :hover {
    color: #2D6DA8;
  }
}

.comments {
  .paginator {
    margin: 0.5em;
    .more-comments {
      color: #A5A7AA;
    }
  }
}

.comment-submit-button {
  position: absolute;
  left: -9999px;
}

.profile-header {
  padding: 20px 0;
  background:white;
  border:1px solid #bcbcbc
}

.profile-image {
  margin: 20px auto;
  height: 152px;
  width: 152px;
}

.user-name-and-follow {
  display: inline;
}

.profile-user-name {
  display: inline;
}

.edit-button {
  border-color: #818488;
  color: #818488;
}

.profile-bio {
  margin-top: 20px;
}

#user_bio {
  border: 1px solid gray;
}

#user_avatar {
  padding: 1em;
  margin: 0px auto;
}
/*
|--------------------------------------------------------------------------
|  Likes
|--------------------------------------------------------------------------
*/
.likes {
  margin-bottom: 7px;
  color: #4b4f54;
}

.like {
  text-decoration: none;
  color: red;
}

.like-button a:hover, a:focus {
  text-decoration: none;
  color: red;
}

/*
|--------------------------------------------------------------------------
|  Notifications
|--------------------------------------------------------------------------
*/

.notification-index-list {
  margin-top: 5em;
  list-style: none;
  li {
    margin-top: 1em;
    background-color: white;
    padding: 1em;
  }
}
.notification-unread{
  border-left:3px solid green;
}
/*
|--------------------------------------------------------------------------
|  Follow Unfollow Button
|--------------------------------------------------------------------------
*/
.follow-button,.unfollow-button{
  float:right
}
/*
|--------------------------------------------------------------------------
|   All Users
|--------------------------------------------------------------------------
*/
.user_listings{
  padding:10px 20px;
  background:white;
}
.user{
  margin-bottom: 10px;
    border-bottom: 1px solid #bbb;
    padding: 10px 0;
}
.user_username a{
  font-size:20px;
}
/*
|--------------------------------------------------------------------------
|   All Users
|--------------------------------------------------------------------------
*/
.suggestion_box_main{
  padding: 0;
  list-style-type: none;
}
.suggestion_box_heading{
  padding:10px 20px;
  border-bottom:1px solid #ccc;
  font-size:14px;
}
.suggestion_box_main li{
  padding:10px 20px;
}
/*
|--------------------------------------------------------------------------
|   ChatBox
|--------------------------------------------------------------------------
*/
.chatbox {
    position: fixed;
    position: expression("absolute");
    width: 280px;
    display: none;
}
.chatbox form{
    margin-bottom: 0;
}
.chatboxhead {
    background: #4496BC;
    color: white;
    padding: 0.5rem;
    overflow: hidden;
    padding-left:15px;
}

.chatboxhead h1 {
    display: inline;
    font-size: 17px;
    font-weight: 700;
}

.chatboxblink {
    background-color: #176689;
    border-right: 1px solid #176689;
    border-left: 1px solid #176689;
}

.chatboxcontent {
    height: 280px;
    width: 280px;
    overflow-y: auto;
    padding: 7px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;
    background: #e5e5e5;
    line-height: 1.3em;
    list-style: none;
}

.chatboxcontent li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.chatboxcontent .avatar {
    width: 32px;
    position: relative;
}

.chatboxcontent .avatar img {
    display: block;
}

.other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

.self .chatboxmessagecontent {
    order: 1;
    border-bottom-right-radius: 0;
}

.self .avatar {
    order: 2;
}

.self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: transparent;
}

.chatboxmessagecontent {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.chatboxmessagecontent p {
    font-size: 12px;
    margin: 0 0 0.2rem 0;
}

.chatboxmessagecontent time {
    font-size: 9px;
    color: #ccc;
}

.chatboxinput {
    padding: 5px;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.chatboxtextarea {
    width: 262px;
    height: 44px;
    padding: 3px 0pt 3px 3px;
    overflow: hidden;
    resize: none !important;
    border:none;
}

.chatboxmessage {
    margin-left: 1em;
}

.chatboxinfo {
    margin-left: -1em;
    color: #666666;
}

.chatboxoptions {
    float: right;
}

.chatboxoptions a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.chatboxtitle {
    float: left;
}
#messages,#university_messages{
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.card-block{
  margin-bottom:10px;
}
/*
|--------------------------------------------------------------------------
|   Conversation
|--------------------------------------------------------------------------
*/
.conversation_list_item{
  background:#fafafa;
}
.conversation_box{
  border: 1px solid #eee;
  margin-top: 40px;
  font-size: 16px;
  max-height: 600px;
  overflow-y: scroll;
}
.conversation_box li{
  list-style: none;
  border-radius: 0 !important;
  padding: 0 !important;
}
.conversation_list_item{
  padding: 5px 10px;
  transition:all 1s;
}
.conversation_list_item:hover{
  background: #EAF1EF;
  color: #337ab7;
}
.conversation_list_item a{
  text-decoration: none;
}
.conversation_list_item__message{
  font-size:75%;
  color:black;
}
#conversation-body{
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}