.btn-group.post-wrapper
  = link_to 'Discussion',university_path(@university),class: 'btn btn-primary'
  = link_to 'Members',members_university_path(@university),class: 'btn btn-success'
  = link_to 'Group Chat',chat_university_path(@university),class: 'btn btn-info'
  - if current_user.role.name == 'admin'
    = link_to 'Edit University',edit_university_path(@university),class: 'btn btn-warning'