.mt20.bgwhite.sb1.padding20.mb20
  %p Please Join the group and wait for admin and wait for moderators to approve
  %p After joining only you are able to:
  %ul
    %li See Posts
    %li Create Interative Posts
    %li Share Images
    %li Share Files
    %li Chat With Group Members
    %li Comments on each other posts
    %li See the member of this group
  %p By joining this Group you agree with our terms and conditions