.post-wrapper
  .post
    .padding20
      %h4 Editing University
      = render 'form', university: @university
      = link_to 'Show', @university,class: 'btn btn-success'
      = link_to 'Back', universities_path,class: 'btn btn-primary'
